/* 
 * This css will include all web-app-theme css you need
 *
 *= require web-app-theme/base
 *= require web-app-theme/themes/default/style.css
 *= require_self
 */

/* Write here your css for overriding the theme's rules */

.pagination em {
  font-weight: bold;  
  margin-right: 5px;	
  padding: 6px;			
  border: 1px solid #c3c4ba;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}